 #wishlist>div {
     height: 3rem;
     padding: .75rem;
     margin-left: .9375rem;
     text-align: center;
     white-space: nowrap;
    background-color: #87d5fa;
}
 #wishlist>div a{
      color: #fff;
 }

 #addToWishlistButton{
      box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
      text-transform: uppercase;
      font-weight: 600;
      padding: .5rem 1.25rem;
      background-color: #87d5fa;
      border: none;
      color: #fff;
     cursor: pointer;
 }
 #addToWishlistButton:hover{
     background-color: #5bacd2;
 }
.discount{
    background: #f39d72;
    color: #fff;
    font-weight: 600;
    padding: .3125rem .625rem;
    font-size: 1rem;
    margin-left: .625rem;
    text-transform: uppercase;
    display: inline-block;
}

.discountedPrice{
    text-decoration: line-through;
    font-weight: 400;
}
.priceAfterDiscount{
    color: #f39d72;
    font-weight: bold;
}

.priceFull{
    color: #2fb5d2;
    font-weight: bold;
    margin-top: 5px;
}
